.movie-list-wrap {
  position: relative;
  .movie-item-card {
    display: inline-block;
    margin: 10px 28px;
    min-height: 455px;
    vertical-align: bottom;
    .ant-card-cover {
      height: 360px;
      overflow: hidden;
    }
    .ant-card-meta-description {
      margin-bottom: 8px;
    }
  }
  .movie-pagination-wrap {
    text-align: center;
    margin: 20px 0 0;
  }
}